@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
* {
  padding: 0;
  border: none;
  border-bottom: 0;
  max-height: 10000px;
  overflow-y: scroll;
  background-color: white;
  color: white;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none;
}
.filler {
  height: 30px;
}
.shaking {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.question_answer {
  margin-bottom: 0;
  color: black;
}

.question_div {
  text-align: center;
  border-top: 4px solid black;
  color: black;
  margin: 10px;
  margin-top: 0;
  width: 100%;
  background: none; /* Este background es el de los div de respuestas*/
  overflow: visible;
}
.question_type {
  border-radius: 5px;
  color: white;
  background-color: #7c4dff !important;
}

.interface_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}

ul {
  list-style-type: circle;
  border: none;
  margin: 0px;
  color: inherit;
}
li {
  border: none;
  padding-top: 0px;
  margin-top: 0px;
  color: inherit;
  margin-bottom: 10px;
}

li::marker {
  content: "";
}
body,
.interface_wrapper,
#link_div {
  position: relative;

  justify-content: center;
  min-width: 300px;
  border: none;
  margin: 10px 10px;
  overflow: visible;
  display: grid;
  align-items: center;
  font-size: large;
  font-family: "Iceland", cursive;
  font-weight: bold;
}
body {
  height: 100%;
  margin: 0 10px;
}

body > * > * {
  font-size: larger;

  border: none;
  font-family: "Iceland", cursive;
  font-weight: bold;
}
body > * > * > * {
  font-size: large;
  border: none;
  font-family: "Iceland", cursive;
  font-weight: bold;
}
.interface_wrapper {
  margin-left: 0px;
  display: grid;
  place-items: center;
}
#playback_div {
  width: 100%;
  overflow: visible;
  text-align: center;
  display: flex;
  justify-content: center;
  place-content: center;
  align-content: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#form_button {
  text-align: center;
  border-radius: 10px;
  font-size: large;
  background-color: #e74c3c;
  width: 40%;
  border: none;
  padding: 12px 10px 12px 10px;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  border: 2px solid rgb(118, 118, 118);

  text-align: center;
  position: relative;
  display: grid;
  place-self: center;
  justify-content: center;
  place-content: center;
  align-content: center;
  padding: 12px 12px;
  width: 50%;
  margin: 0 4vw 0 0;
  border-radius: 20px;
  background: inherit;
  color: rgb(118, 118, 118);
  text-decoration: none;
  outline: none;

  overflow: visible;
}
input::placeholder {
  padding: 12px 12px;
  color: inherit;
  text-decoration: none;
  outline: none;
  border: none;

  overflow: hidden;
}
h1 {
  text-align: center;
  background: none !important;
  border-bottom: 2px solid white;
}
.link_button:active {
  transform: translateY(4px);
}

button {
  position: relative;
  display: inline-block;
  padding: 12px 15px;
  margin: 12px 5px;
  background: inherit;
  color: inherit;
  background-color: rgb(33, 150, 243);
  text-decoration: none;
  border-width: 0;
  outline: none;
  border-radius: 7px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 2px;

  overflow: hidden;
}

h1 {
  position: relative;
  display: inline-block;
  padding: 12px 15px !important;
  margin: 12px 5px !important;
  background: inherit;
  color: inherit;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 2px;

  overflow: hidden;
}
.unvalid {
  z-index: 100;
  display: inline-block;
  padding: 12px 15px !important;
  margin: 12px 5px !important;
  background: none;
  color: black;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 2px;
}
button:hover {
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2),
    0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 20px 0 rgba(0, 0, 0, 0.12);
}

button:active {
  transform: translateY(8px);
}

button span {
  position: absolute;
  display: block;
  width: 0 !important;
  height: 0 !important;
}

@keyframes custom_border4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}

#link_div {
  overflow: visible;
  background: none;
  display: flex;
  margin: 0;
  width: 100%;
}
.link_button {
  margin: 12px 12px 24px 12px;
}

#video_link {
  background-color: #2ecc71;
}
#answers_button {
  background-color: #9b59b6;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}
.filler {
  height: 3vh;
  width: 100%;
}
